.form_titleContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.form_titleContainer svg {
    width: 50px;
    height: 50px;
    
}

.form_titleContainer h1 {
    padding-left: 10px;
}

.form {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.form input {
    font-size: 18px;
    width: 100%;
    border: none;
    border-bottom: thin solid rgb(202, 199, 199);
    outline: none;
}

.form input::placeholder {
    color: rgb(186, 192, 197);
}

#comment {
    margin-top: 2px;
}

.form button,
.btn_cleanAll {
    width: 100%;
    max-width: 150px;
    height: 30px;
    background-color: rgb(110, 110, 243);
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.card_list {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    max-height: 600px;
    overflow-y: scroll;
    padding: 10px 0;
}

.msg_listContainer {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(224, 159, 155);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
    color: rgb(226, 214, 214);
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 222, 179, 0.6);
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px 0;
    color: rgb(95, 92, 92);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.card_list::-webkit-scrollbar {
    background-color: white;
}

.card_list::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 243);
    border-radius: 10px;
}

.card i {
    font-size: 30px;
}

.card svg {
    width: 30px;
}


.task_done {
    background-color: rgb(161, 241, 161);
    color: rgb(46, 80, 46);
}

.task_urgent {
    background-color: rgb(223, 130, 123);
    color: rgb(124, 39, 39);
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.task svg {
    width: 15%;
    padding-left: 10px;
}

.taskName {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.taskName span {
    margin-left: 20px; 
}

.taskName i {
    font-size: 15px;
    font-weight: normal;
}

.task h4 {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-wrap: break-word;
}

.task b {
    margin-left: 20px;
    font-size: 20px;
}

.btn_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn_container i {
    margin-right: 20px;
}

.btn_cleanAll {
    background-color: rgb(231, 68, 68);
    margin-top: 50px;
    cursor: pointer;
    position: absolute;
    right: 15%;
}

.checkbox_container {
    width: 100%;
    margin-top: 10px;
}

.checkbox_container div {
    margin-left: 20px;
}

.checkbox_container h3 {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 18px;
}    

.fa-check,
.fa-trash,
.fa-reply {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.fa-reply:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    color: rgb(12, 88, 202);
}

.fa-check:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    color: green;
}

.fa-trash:hover {
    transform: scale(1.08);
    transition: transform 0.5s ease;
    color: rgb(231, 68, 68);
}

.hidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    .card {
        flex-direction: row;
        
    }

    .taskName span {
        margin-left: 30px; 
    }

    .checkbox_container {
        margin-top: 0;
        
    }
    
}